<a href="https://colab.research.google.com/github/zeze1004/Introduction_Data_Analysis/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. pandas 시작하기

In [4]:
# 1. pandas 시작하기
# 행은 객체, 열은 속성?

import pandas as pd

# 2. pandas로 1차원 데이터 다루기 - series

In [ ]:
# 인덱스를 지정해 줄 수 있음
s = pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
s_dictionary = pd.Series({'one':1, 'two':2, 'three':3})
s_dictionary.one

1

Series와 Numpy이 유사성

In [ ]:
s[1]

2

In [ ]:
dictionary[1]

2

In [ ]:
s_dictionary[:2]

one    1
two    2
dtype: int64

In [ ]:
# 중간값
s.median()

3.0

In [ ]:
# 자신의 중간값보다 큰 원소만 출력
medium = s[s>s.median()]
medium

3    4
4    5
dtype: int64

In [ ]:
s[[3,1,4]]  # 인덱스에 따라 순서 바꿔서 출력

3    4
1    2
4    5
dtype: int64

In [ ]:
import numpy as np
np.exp(s) # e

0      2.718282
1      7.389056
2     20.085537
3     54.598150
4    148.413159
dtype: float64

In [ ]:
s.dtype

dtype('int64')

# Series와 dictionary의 유사성

In [ ]:
s_dictionary  # dictionary의 key : value와 유사

one      1
two      2
three    3
dtype: int64

In [ ]:
s_dictionary['two']

2

In [ ]:
# Series에 값 추가
s_dictionary['six'] = 6
s_dictionary

one      1
two      2
three    3
six      6
dtype: int64

In [ ]:
'six' in s_dictionary

True

In [ ]:
1 in s_dictionary # Key만 찾을 수 있음

False

In [ ]:
# get(): 어떤 키를 가져왔을 때 없으면 예외처리 해줌
s_dictionary.get('seven')  # 키 값 없으면 아무것도 반환하지 않음

In [ ]:
s_dictionary.get('seven',0) # 없으면 추가 파라미터(0) 반환

0

# Series에 이름 붙이기

In [ ]:
# 각 Series는 name 속성을 가지고 있어 처음 Series를 만들 때 이름을 붙일 수 있다

name_Series = pd.Series(np.random.randn(5), name = "random_nums")
name_Series

0   -0.603974
1    1.487795
2    0.265259
3   -0.939498
4   -0.421938
Name: random_nums, dtype: float64

In [ ]:
name_Series.name

'random_nums'

In [ ]:
name_Series.name = "임의의 난수"
name_Series.name

'임의의 난수'

# 3. Pandas로 2차원 데이터 다루기 - dataframe

## dataframe
- 2D 2차원 labeled (key:value)

  엑셀이나 DB 형태
- 인덱스 지정할 수 있음

In [ ]:
dictionary = {"height":[1,2,3,4], "weight":[30,40,50,60]}
dictionary

{'height': [1, 2, 3, 4], 'weight': [30, 40, 50, 60]}

In [ ]:
dictionary_dataframe = pd.DataFrame(dictionary)
dictionary_dataframe

   height  weight
0       1      30
1       2      40
2       3      50
3       4      60

0번째 컬럼에는 height: 1, weight: 30을 가짐

In [ ]:
# dtype 확인
dictionary_dataframe.dtypes

height    int64
weight    int64
dtype: object

From CSV to dataframe

- ',' 로 구분된 Value를 DataFrame으로 생성할 수 있다

- `read_csv()` 이용

In [1]:
# 구글 드라이브로 파일 열기
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [26]:
#불러올 파일의 경로를 filename 변수에 저장
data = '/content/drive/MyDrive/강의/DSC_intro/country_wise_latest.csv'

`head(n)` : 처음 n개의 데이터 참조

`tail(n)`: 마지막 n개의 데이터 참조

In [28]:
#pandas read_csv로 불러오기
data = pd.read_csv(data)
data.head()

  Country/Region  Confirmed  ...  1 week % increase             WHO Region
0    Afghanistan      36263  ...               2.07  Eastern Mediterranean
1        Albania       4880  ...              17.00                 Europe
2        Algeria      27973  ...              18.07                 Africa
3        Andorra        907  ...               2.60                 Europe
4         Angola        950  ...              26.84                 Africa

[5 rows x 15 columns]

In [6]:
data.tail(5)

         Country/Region  Confirmed  ...  1 week % increase             WHO Region
182  West Bank and Gaza      10621  ...              19.12  Eastern Mediterranean
183      Western Sahara         10  ...               0.00                 Africa
184               Yemen       1691  ...               4.45  Eastern Mediterranean
185              Zambia       4552  ...              36.86                 Africa
186            Zimbabwe       2704  ...              57.85                 Africa

[5 rows x 15 columns]

# Pandas 활용 2. 데이터 접근하기

ex) 데이터 중 Confirmed(확진자 수)만 접근 할 수 있음

`df[column_name]` or `df.column_name`

In [8]:
data['Active']

0      9796
1      1991
2      7973
3        52
4       667
       ...
182    6791
183       1
184     375
185    1597
186    2126
Name: Active, Length: 187, dtype: int64

In [10]:
data.Active

0      9796
1      1991
2      7973
3        52
4       667
       ...
182    6791
183       1
184     375
185    1597
186    2126
Name: Active, Length: 187, dtype: int64

In [11]:
# colunm name이 뛰어쓰기 되어 있다면 []안에서 호출해야 함
data['WHO Region']

0      Eastern Mediterranean
1                     Europe
2                     Africa
3                     Europe
4                     Africa
               ...
182    Eastern Mediterranean
183                   Africa
184    Eastern Mediterranean
185                   Africa
186                   Africa
Name: WHO Region, Length: 187, dtype: object

# 꿀팁!

각 컬럼은 Series다

- 인덱싱, 슬라이싱 등 Series의 메소드 사용 가능

In [12]:
type(data['Active'])

pandas.core.series.Series

In [14]:
# Series의 인덱싱
data['WHO Region'][0]

'Eastern Mediterranean'

In [15]:
# Series의 슬라이싱
data['WHO Region'][:5]

0    Eastern Mediterranean
1                   Europe
2                   Africa
3                   Europe
4                   Africa
Name: WHO Region, dtype: object

# 3. Pandas 활용 3. "조건"을 이용해서 데이터 접근하기

In [17]:
# 신규 확진자(컬럼 이름: New cases)가 100명이 넘는 나라를 찾아보자

data['New cases'] > 100 # 이 조건의 결과를

0       True
1       True
2       True
3      False
4      False
       ...
182     True
183    False
184    False
185    False
186     True
Name: New cases, Length: 187, dtype: bool

In [19]:
data[data['New cases'] > 100] # data[key(위의 조건의 결과)]로 넣어준다

         Country/Region  Confirmed  ...  1 week % increase             WHO Region
0           Afghanistan      36263  ...               2.07  Eastern Mediterranean
1               Albania       4880  ...              17.00                 Europe
2               Algeria      27973  ...              18.07                 Africa
6             Argentina     167416  ...              28.02               Americas
8             Australia      15303  ...              23.13        Western Pacific
..                  ...        ...  ...                ...                    ...
177      United Kingdom     301708  ...               1.60                 Europe
179          Uzbekistan      21209  ...              23.67                 Europe
180           Venezuela      15988  ...              29.63               Americas
182  West Bank and Gaza      10621  ...              19.12  Eastern Mediterranean
186            Zimbabwe       2704  ...              57.85                 Africa

[82 rows x 15 columns]

In [20]:
 data[data['New cases'] > 100].head(5)

  Country/Region  Confirmed  ...  1 week % increase             WHO Region
0    Afghanistan      36263  ...               2.07  Eastern Mediterranean
1        Albania       4880  ...              17.00                 Europe
2        Algeria      27973  ...              18.07                 Africa
6      Argentina     167416  ...              28.02               Americas
8      Australia      15303  ...              23.13        Western Pacific

[5 rows x 15 columns]

In [34]:
# WHO 지역이 동남아시아인 나라 찾기

# 해당 컬럼의 원소를 중복 없이 보여준다
data['WHO Region'].unique()

array(['Eastern Mediterranean', 'Europe', 'Africa', 'Americas',
       'Western Pacific', 'South-East Asia'], dtype=object)

In [38]:
data['WHO Region']=='South-East Asia'

0      False
1      False
2      False
3      False
4      False
       ...
182    False
183    False
184    False
185    False
186    False
Name: WHO Region, Length: 187, dtype: bool

In [42]:
data[data['WHO Region']=='South-East Asia']

    Country/Region  Confirmed  ...  1 week % increase       WHO Region
13      Bangladesh     226225  ...               9.05  South-East Asia
19          Bhutan         99  ...              10.00  South-East Asia
27           Burma        350  ...               2.64  South-East Asia
79           India    1480073  ...              28.11  South-East Asia
80       Indonesia     100303  ...              13.70  South-East Asia
106       Maldives       3369  ...              12.34  South-East Asia
119          Nepal      18752  ...               5.09  South-East Asia
158      Sri Lanka       2805  ...               2.75  South-East Asia
167       Thailand       3297  ...               1.45  South-East Asia
168    Timor-Leste         24  ...               0.00  South-East Asia

[10 rows x 15 columns]

# Pandas 활용 4. 행을 기준으로 데이터 접근하기

In [77]:
# 예시 데이터 - 도서관 정보

books_dictionary = {"Available":[True,True,False], "Location":[102,215,323], "Genre":["programming", "physics", "math"]}

# 인덱스 지정할 수 있음
books_dataframe = pd.DataFrame(books_dictionary, index =['클린코딩', '대학기초물리학', '대학 미적분'])

books_dataframe

         Available  Location        Genre
클린코딩          True       102  programming
대학기초물리학       True       215      physics
대학 미적분       False       323         math

## 인덱스 이용해서 가져오기

`.loc[row, col]`
- loc: location

In [78]:
books_dataframe.loc["클린코딩"]

Available           True
Location             102
Genre        programming
Name: 클린코딩, dtype: object

In [79]:
type(books_dataframe.loc["클린코딩"])

pandas.core.series.Series

In [80]:
# 대학미적분학이 대출가능한지
books_dataframe['Available']

클린코딩        True
대학기초물리학     True
대학 미적분     False
Name: Available, dtype: bool

In [81]:
books_dataframe[books_dataframe['Available']]

         Available  Location        Genre
클린코딩          True       102  programming
대학기초물리학       True       215      physics

In [82]:
books_dataframe.loc['대학 미적분', 'Available']

False

### 숫자 인덱스를 이용해서 가져오기: `.iloc[rowidx, *colidx*`

In [83]:
# 인덱스 0행의 인덱스 1열 가지고 오기
books_dataframe.iloc[0,1]

102

In [84]:
# 인덱스 1행의 인덱스 0-1열 가지고 오기
books_dataframe.iloc[1, 0:2]

Available    True
Location      215
Name: 대학기초물리학, dtype: object

## Pandas 활용 5.groupby
- sql 문법 groupby와 유사

- 1. Split: 특정한 "기준"을 바탕으로 DataFrame을 분할

- 2. Apply: 통계함수 - sum(), mean(), median(), - 을 적용하여 각 데이터 압축

- 3. Combine: Apply된 결과를 바탕으로 새로운 Series를 생성 (group_key: applied_value)

### `.groupby()`

##### ***WHO Region 별 확진자***

In [88]:
# 1. data에서 확진자 수 column만 추출한다
# 2. 이를 covid의 WHO Region을 기준으로 groupby한다

covid_by_region = data['Confirmed'].groupby(by=data["WHO Region"])  # Confirmed: 확진자 수
covid_by_region # 객체로 출력...? Split 된 상태: 유의미한 데이터가 아니다
# 객체란 무엇?

In [93]:
covid_by_region.sum() # 통계함수를 적용하여 데이터 압축(Combine되어 key:value 생성)

WHO Region
Africa                    723207
Americas                 8839286
Eastern Mediterranean    1490744
Europe                   3299523
South-East Asia          1835297
Western Pacific           292428
Name: Confirmed, dtype: int64

In [107]:
type(covid_by_region)

pandas.core.groupby.generic.SeriesGroupBy

### ✨에러파티✨

In [ ]:
covid_by_region.iloc(0,1)

In [ ]:
covid_by_region['Africa'] # 키 값을 입력했는데 value가 나오지 않음
                          # 딕셔너리 타입이 아니어서?
                          # Series도 key:value 형태 가능, SeriesGroupBy 검색

In [ ]:
data_confirmed_region = pd.DataFrame(covid_by_region, index = ['Region', 'Confirmed_num'])

In [ ]:
data_confirmed_region = pd.DataFrame(covid_by_region, index = ['Region', 'Confirmed_num'])

##### ***국가당 감염자 수(위의 데이터는 대륙별)***

In [111]:
covid_by_region.mean()  # 각 튜플은 나라로 구분되어 있다 
                        # 대륙에 속한 나라의 수를 나누면 대륙의 확진자 평균수 출력

WHO Region
Africa                    15066.812500
Americas                 252551.028571
Eastern Mediterranean     67761.090909
Europe                    58920.053571
South-East Asia          183529.700000
Western Pacific           18276.750000
Name: Confirmed, dtype: float64

In [109]:
covid_by_country = data['Confirmed'].groupby(by=data['Country/Region'])
covid_by_country

In [110]:
covid_by_country.sum()

Country/Region
Afghanistan           36263
Albania                4880
Algeria               27973
Andorra                 907
Angola                  950
                      ...
West Bank and Gaza    10621
Western Sahara           10
Yemen                  1691
Zambia                 4552
Zimbabwe               2704
Name: Confirmed, Length: 187, dtype: int64

# Mission

1. 데이터에서 100 case 대비 사망률(Deaths / 100 Cases)이 가장 높은 국가는?


2. 데이터에서 신규 확진자가 없는 나라 중 WHO Region이 'Europe'을 모두 출력하면?
- hint: 한 줄 에 동시에 두 가지 조건을 Apply 하는 경우 Warning이 발생할 수 있습니다.


3. 다음 데이터를 이용해 각 Region별로 아보카도가 가장 비싼 평균가격(AveragePrice)를 출력하면?

In [ ]:
# 1